---
import { getCollection } from "astro:content";
import Link from "../../components/common/Link.astro";
import P from "../../components/common/P.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
import { groupPostsByTopic } from "../../utils/groupPostsByTopic";
import {topicIcons} from '../../utils/topicIcons'



const posts = await getCollection("posts");
console.log(posts);
const renderingData = posts.map((x) => ({
  title: x.data.title,
  tags: x.data.tags,
  urlPath: `/blog/${x.slug}`,
}));


// const posts = await getCollection('blog');
const grouped = groupPostsByTopic(posts);
---

<BlogLayout>
  
  <div class="blog">
    <h1>Posts</h1>
    {Object.entries(grouped).map(([topic, data]) => (
      <section>
        <h2>{topicIcons[topic] ?? ''} {topic}</h2>
        {Object.entries(data.subtopics).map(([sub, posts]) => (
          <div style="margin-left: 16px;">
            <h3 style="color: white;">{topicIcons[sub.toLowerCase().replace(" ","")] ?? ''} {sub}</h3>
            <ul>
              {posts.map(post => (
                <li style="margin-left: 16px;"><a href={`/blog/${post.slug}/`} style="color: rgb(207, 207, 207);">{post.data.title}</a></li>
              ))}
            </ul>
          </div>
        ))}
      </section>
    ))}
  </div>
  <div class="blog">
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
  </div>
  <div class="blog">
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
  </div>
  <div class="blog">
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
  </div>
  <div class="blog">
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
  </div>
  <div class="blog">
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
  </div>
  <div class="blog">
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
      reiciendis accusamus aliquam debitis quos at atque quia commodi, saepe
      officia? Vero soluta aperiam neque ipsum, voluptatibus ducimus maiores
      voluptate error.</P
    >
  </div>

</BlogLayout>

<style>
  .blog {
    margin: 0 auto;
    max-width: 900px;
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 1.6;
    color: aliceblue;
  }

  .blog h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .blog p {
    margin-bottom: 1rem;
  }
</style>
