---
import type { Post } from "../../types/post";
import { formatDate } from "../../utils/formatDate";
import { topicIcons } from "../../utils/topicIcons";
import { topicToUrl } from "../../utils/topicToUrl";

export interface Properties {
  posts: Post[];
  title:string;
}

const { posts, title } = Astro.props as Properties;
---

<section class="blog-container">
  <h2 class="blog-title">{title}</h2>
  <div class="blog-grid">
    <!-- Card de post -->
    {
      posts.map((p) => (
        <a class="post-card" href={`/b/${topicToUrl(p.topic)}/${p.slug}/`}>
          <img src={p.heroImage} alt={p.title} title={p.title} loading="lazy" />
          <div class="post-info">
            <span class="post-category">
              {topicIcons[p.topic.toLowerCase().replace(" ", "")] && (
                <img
                  src={topicIcons[p.topic.toLowerCase().replace(" ", "")]}
                  alt={p.title}
                  width="14"
                  height="14"
                  class="post-category-logo"
                />
              )}
              {p.topic}
              <span class="post-time">{p.estimatedMinutes}min</span>
            </span>

            <h3 class="post-title">{p.title}</h3>
            <p class="post-date">{formatDate(p.date)}</p>
          </div>
        </a>
      ))
    }
  </div>
</section>
<style>
  .blog-container {
    max-width: 1280px;
    margin: 0 auto;
  }

  .blog-title {
    margin-bottom: 2rem;
    font-weight: 600;
    font-family: "PP Mori";
    color: white;
    font-size: 2rem;
  }

  .blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
  }

  .post-card {
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.2s ease;
    cursor: pointer;
    color: white;
    text-decoration: none;
  }

  .post-card:hover {
    transform: scale(1.015);
  }

  .post-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .post-info {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .post-category {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: #cfcfd3;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    img.post-category-logo {
      width: 14px;
      height: 14px;
      object-fit: contain;
    }
  }

  .post-time {
    font-size: 14px;
    margin-left: 0.5rem;
    text-transform: none;
    font-weight: 400;
    color: #cfcfd3;
  }

  .post-title {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "PP Mori";
    line-height: 1.3;
  }

  .post-date {
    font-size: 13px;
    color: #cfcfd3;
  }
</style>
