---
import P from "./P.astro";

interface Props {
  src: string;
  class?: string;
  title: string;
  description: string;
  mediaHeight?: number
}

const {
  class: className,
  src,
  title,
  description,
  mediaHeight,
  ...rest
}: Props = Astro.props;

const isVideo = src.endsWith(".webm");
---

<div class:list={["work-card", className]} {...rest}>
  {
    isVideo ? (
      <video class="work-card__media video" autoplay playsinline preload="metadata" muted loop aria-label={description} poster={src.replace("webm","webp")}>
        <source src={src} type="video/webm" />
      </video>
    ) : (
      <img class="work-card__media" src={src} alt={description} loading={"lazy"} />
    )
  }
  <P as="small" class="work-card__title">{title}</P>
  <P as="small" class="work-card__description">{description}</P>
</div>

<style>
  .work-card {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

  }
  .work-card__title {
    color: var(--title-color);
    
    margin-bottom: 0px;
    font-weight: 400;
    /* font-family: "PP Mori"; */
    margin-top: 4px;
  }
  .work-card__description {
    margin-bottom: 0px;
  }

  .work-card__media {
    margin-bottom: 2px;
    width: 100%;
    object-fit: cover;
  }

  .work-card__media.video{
    aspect-ratio: 16/9;
  }
</style>
