---
import P from "./P.astro";

interface Props {
  src: string;
  class?: string;
  title: string;
  description: string;
  mediaHeight?: number
}

const {
  class: className,
  src,
  title,
  description,
  mediaHeight,
  ...rest
}: Props = Astro.props;

const isVideo = src.endsWith(".webm");
---

<div class:list={["work-card", className]} {...rest}>
  {
    isVideo ? (
      <video class="work-card__media" autoplay autoplay muted loop aria-label={description}>
        <source src={src} type="video/mp4" />
      </video>
    ) : (
      <img class="work-card__media" src={src} alt={title} loading={"lazy"} />
    )
  }
  <P as="small" class="work-card__title">{title}</P>
  <P as="small" class="work-card__description">{description}</P>
</div>

<style>
  .work-card {
    /* border: solid 1px red; */
  }
  .work-card__title {
    color: var(--title-color);
    margin-bottom: 0px;
    font-weight: 400;
  }
  .work-card__description {
    margin-bottom: 0px;
  }

  .work-card__media {
    margin-bottom: 2px;
    width: 100%;
    object-fit: cover;
  }

  .work-card__media.video{
    height: 600px;
  }
</style>
